@use "variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
body {
  background-color: $pureWhite;
  font-size: 15px;
}

.container {
  width: 100%;
  padding-right: $container-padding-x;
  padding-left: $container-padding-x;
  margin-right: auto;
  margin-left: auto;
  @each $breakpoint, $max-width in $container-max-widths {
    @media (min-width: #{map-get((sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px), $breakpoint)}) {
      max-width: $max-width;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  object-fit: fill;
}
