@use "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", Arial, sans-serif;
}
body{
  background-color: variables.$primaryColor;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
}
html {
  scroll-behavior: smooth;
}


@media (max-width: 768px){
  .container{
    width: 90%;
  }
}