$primaryColor: #ef233c;
$pureWhite: #fff;
$dark: #222;
$dark2: #07090c;
$bodyColor: #2c2c2c;
$lightGrey: #ddd;
$headersColor: #07090c;
$container-padding-x: 15px;
$container-max-widths: (
  sm: 100%,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px,
);
