* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background-color: #000;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
.width_50 {
  width: 50%;
}
@media (max-width: 768px) {
  .width_50 {
    width: 100%;
  }
}

.color_or {
  color: #ffbd39;
}

.nav_bar {
  background-color: #000;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.nav_bar .container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}
.nav_bar .container .nav .logo {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
.nav_bar .container .nav .menu-toggle {
  display: none;
}
.nav_bar .container .nav .menu-toggle:checked ~ nav {
  right: 0;
}
.nav_bar .container .nav .hamburger {
  display: none;
  align-items: center;
  cursor: pointer;
  z-index: 1001;
  opacity: 0.5;
}
.nav_bar .container .nav .hamburger .none_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav_bar .container .nav .hamburger .none_text span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.3s;
}
.nav_bar .container .nav .hamburger .menu-text {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
  margin-left: 2px;
  text-transform: uppercase;
}
.nav_bar .container .nav nav .nav-links {
  display: flex;
  list-style: none;
}
.nav_bar .container .nav nav .nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 20px;
  display: inline-block;
  transition: 0.3s;
}
.nav_bar .container .nav nav .nav-links li a.active {
  color: #ffbd39;
}
.nav_bar .container .nav nav .nav-links li a span {
  position: relative;
}
.nav_bar .container .nav nav .nav-links li a span::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: orange;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.nav_bar .container .nav nav .nav-links li a:hover span::before {
  width: 100%;
}
@media (max-width: 768px) {
  .nav_bar .container .nav .hamburger {
    display: flex;
  }
  .nav_bar .container .nav nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background-color: #000;
    transition: all 0.3s ease;
    padding-top: 80px;
    z-index: 999;
  }
  .nav_bar .container .nav nav .nav-links {
    flex-direction: column;
  }
  .nav_bar .container .nav nav .nav-links li a {
    padding: 15px 20px;
  }
  .nav_bar .container .nav .menu-toggle:checked ~ nav {
    left: 0;
    top: 75px;
    position: fixed;
  }
}

.hero .container .row .hero_content {
  display: flex;
  align-items: center;
}
.hero .container .row .hero_content .hero_text {
  color: #fff;
}
.hero .container .row .hero_content .hero_text .hello {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffbd39;
}
.hero .container .row .hero_content .hero_text .hero_head {
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 24px;
}
.hero .container .row .hero_content .hero_text .btn {
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 16px 24px;
  transition: all 0.3s ease;
}
.hero .container .row .hero_content .hero_text .btn.btn_primary {
  background: #ffbd39;
  border: 1px solid #ffbd39;
  color: #000;
}
.hero .container .row .hero_content .hero_text .btn.btn_primary:hover {
  color: #fff;
}
.hero .container .row .hero_content .hero_text .btn.btn_tr {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: #fff;
}
.hero .container .row .hero_content .hero_text .btn.btn_tr:hover {
  color: #ffbd39;
}
@media (max-width: 768px) {
  .hero .container .row .hero_content {
    display: block;
    position: relative;
    padding: 40px 0px;
  }
  .hero .container .row .hero_content .hero_text {
    text-align: center;
  }
  .hero .container .row .hero_content .hero_text .hero_head {
    font-size: 40px;
  }
  .hero .container .row .hero_content .hero_image {
    position: absolute;
    top: 40px;
    z-index: -1;
  }
}
.hero .swiper-pagination {
  position: relative;
  transform: translateY(-40px);
}
.hero .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.hero .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}/*# sourceMappingURL=index.css.map */